body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('/img/bg\ order.png');
    background-size: cover;
    background-position: center;
    height: auto;
    background-repeat: no-repeat
}
